// Fonts
@import url(https://fonts.googleapis.com/css?family=Tenor+Sans&amp;subset=latin-ext);
@import url(https://fonts.googleapis.com/css?family=Archivo+Black&amp;subset=latin-ext);

$main-font: 'Tenor Sans', sans-serif;
$heading-font: 'Archivo Black', sans-serif;

// Sizes of font
$font-size-default: 14px;
$font-size-small: 0.618em;
$font-size-regular: 1em;
$font-size-large: 1.618em;
$font-size-xx-large: 4.236em;

// Colors
$mist: #9FACBF;
$stone: #4C6580;
$shadow: #2A3132;
$foliage: #753626;