footer {
    padding-top: 40px;
    padding-bottom: 10px;
    .align-right {
        text-align: right;
    }
    ul {
        padding: 40px 0;
        list-style-type: none;
        font-size: 1.3em;
    }
    
    li {
        float: left;
        padding-right: 2em;
        line-height: 40px;
        
    }
    .align-center {
        text-align: center;
        padding-top: 10px;
        color: #AAACAC;
    }
    img {
        vertical-align: middle;
        max-width: 100%;
    }
    .scrollTop {
        transition: all 0.2s ease;
        &:hover {
            transform: scale(1.1);
        }
    }
    a {
        color: #AAACAC;
        text-decoration: none;
        &:hover {
            color: rgba(0, 0, 0, 0.7);
        }
    }
}