#kontakt {
    color: $white;
    background: rgb(151,166,185);
    background: linear-gradient(135deg, rgba(151,166,185,1) 0%, rgba(133,149,172,1) 30%, rgba(96,118,142,1) 60%, rgba(87,108,135,1) 100%);
    .container-fluid {
        padding: 0;
    }
    .information-container {
        padding: 60px 15px;
        @include xl {
            padding: 110px 0;
        }
    }
    h1 {
        font-size: 2em;
        text-transform: uppercase;
        @include xl {
            font-size: 2.6em;
            padding-bottom: 45px;
        }
    }
    p {
        font-size: 1.5em;
        @include lg {
            font-size: 1em;
        }
        @include xl {
            font-size: 1.5em;
        }
    }
    i {
        font-size: 2.8em;
        padding-bottom: 10px;
        @include xl {
            padding-bottom: 25px;
        }
    }
    span {
        font-family: $heading-font;
        text-transform: uppercase;
    }
    .information-box {
        padding-top: 40px;
        @include md {
            padding-top: 60px;
        }
        @include xl {
            padding-top: 40px;
        }
    }
}
#google-container {
    height: 600px;
    @include lg {
        height: 500px;
    }
}