@media (max-width: 768px) {
    #main-nav .container {
        width: 100%;
        max-width: none;
    }
}
#main-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 100;
    width: 100%;
    // height: 50px;

    a {
        display: block;
        height: 50px;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        img {
            vertical-align: middle;
            // height: 10px;
            max-width: 100%;
        }
    }
}