#oferta {
    // min-height: 100vh;
    position: relative;
    overflow: hidden;
}
.static-content-wrapper {
    position: absolute;
    z-index: 100;
    h1 {
        padding-top: 100px;
        padding-bottom: 250px;
        text-transform: uppercase;
        color: white;
        font-size: 33px;
    }
}
.dot {
    cursor: pointer;
    margin-right: 20px;
    font-size: 1.8em;
    color: white;
    display: inline-block;
    transform: rotate(-90deg) scaleY(1.25);
    transition: all 0.5s ease;
    &::after {
        content: '▷';
    }
    &:hover {
        content: '▶';
        color: rgba(255,255,255,0.55);
    }
}
.gradient-mask {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 200%;
    top: -50%;
    left: -60%;
    transform: rotate(25deg);
    background: rgb(151,166,185);
    background: linear-gradient(135deg, rgba(151,166,185,1) 0%, rgba(133,149,172,1) 30%, rgba(96,118,142,1) 60%, rgba(87,108,135,1) 100%);
}

.active {
    &::after {
        content: '▶';
    }
}

.mySlides {display: none}


/* Slideshow container */
.slideshow-container {
    position: relative;
    // width: 100%;
    height: 100vh;
    // height: 100%;
    margin: auto;
    .mySlides {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.prev, .next {
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    color: white;
    line-height: 85px;
    font-size: 60px;
    text-align: right;
    padding-right: 30px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.6s ease;
    &:hover {
        background-color: rgba(0,0,0,0.25);
    }
    &:active {
        transition: all 0.1s ease;
    }
}
.prev:active {
    padding-right: 50px;
}
.next {
    left: auto;
    right: -25px;
    text-align: left;
    padding-left: 30px;
    padding-right: 0;
    &:active {
        padding-left: 50px;
    }
}

.slide-text {
    position: absolute;
    z-index: 100;
    top: 430px;
    width: 100%;
    color: white;
    padding-top: 45px;
    padding-bottom: 110px;
    h3 {
        font-size: 59px;
        text-transform: uppercase;
        padding-bottom: 45px;
    }
    ol {
        font-size: 23px;
        line-height: 2em;
        li {
            &:before {
                content: '〉';
                font-size: 0.8em;
                font-weight: bold;
                padding-right: 20px;
            }
        }
    }
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .75} 
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
// @media only screen and (max-width: 300px) {
//     .prev, .next,.text {font-size: 11px}
// }