#oferta {
    position: relative;
    overflow: hidden;
}
.static-content-wrapper {
    position: absolute;
    z-index: 100;
    h1 {
        padding-top: 60px;
        padding-bottom: 200px;
        text-transform: uppercase;
        color: white;
        font-size: 28px;
        @include md {
            padding-bottom: 400px;
        }
        @include lg {
            padding-bottom: 220px;
        }
        @include xl {
            font-size: 33px;
            padding-bottom: 295px;
            padding-top: 110px;
        }
    }
}
.dot {
    cursor: pointer;
    margin-right: 20px;
    font-size: 1.8em;
    color: white;
    display: inline-block;
    transform: rotate(-90deg) scaleY(1.25);
    transition: all 0.5s ease;
    &::after {
        content: '▷';
    }
    &:hover {
        content: '▶';
        color: rgba(255,255,255,0.55);
    }
}

.gradient-mask {
    position: absolute;
    z-index: 50;
    width: 220%;
    height: 200%;
    top: 0;
    right: -90%;
    transform: rotate(-65deg);
    background: rgb(151,166,185);
    background: linear-gradient(135deg, rgba(151,166,185,1) 0%, rgba(133,149,172,1) 30%, rgba(96,118,142,1) 60%, rgba(87,108,135,1) 100%);
    @include sm {
        width: 180%;
        right: -20%;
    }
    @include md {
        width: 100%;
    }
    @include lg {
        transform: rotate(25deg);
        top: -50%;
        left: -60%;
        right: auto;
    }
}

.active {
    &::after {
        content: '▶';
    }
}

.mySlides {display: none}


/* Slideshow container */
.slideshow-container {
    position: relative;
    min-height: 100vh;
    height: 850px;
    margin: auto;
    background-color: #5D738C;
    @include xs {
        height: 950px;
    }
    @include md {
        height: 1100px;
    }
    @include lg {
        height: 700px;
        min-height: 10vh;
    }
    @include xl {
        height: 1000px;
    }
    .mySlides {

        img {
            position: absolute;
            display: block;
            width: auto;
            height: 500px;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            @include md {
                height: 800px;
            }
            @include xl {
                left: auto;
                right: 0;
                transform: translateX(0);
                height: 1000px;
            }
        }
    }
}

.prev, .next {
    display: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    color: white;
    line-height: 85px;
    font-size: 60px;
    text-align: right;
    padding-right: 30px;
    border: 1px solid white;
    border-radius: 50%;
    transition: 0.6s ease;
    @include xl {
        display: initial;
    }
    &:hover {
        background-color: rgba(0,0,0,0.25);
    }
    &:active {
        transition: all 0.1s ease;
    }
}
.prev:active {
    padding-right: 50px;
}
.next {
    left: auto;
    right: -25px;
    text-align: left;
    padding-left: 30px;
    padding-right: 0;
    &:active {
        padding-left: 50px;
    }
}

.slide-text {
    position: absolute;
    z-index: 100;
    top: 340px;
    width: 100%;
    color: white;
    padding-bottom: 60px;
    @include md {
        top: 560px;
    }
    @include lg {
        top: 380px;
    }
    @include xl {
        top: 520px;
    }
    h3 {
        font-size: 32px;
        text-transform: uppercase;
        padding-bottom: 40px;
        line-height: 40px;
        @include md {
            font-size: 37px;
        }
        @include xl {
            font-size: 59px;
        }
    }
    ol {
        font-size: 1.6em;
        padding-left: 15px;
        position: relative;
        @include md {
            padding-left: 25px;
            line-height: 1.5em;
        }
        @include lg {
            font-size: 14px;
        }
        @include xl {
            font-size: 23px;
        }
        li {
            padding-bottom: 5px;
            &:before {
                content: '〉';
                font-size: 0.8em;
                font-weight: bold;
                position: absolute;
                left: 0;
            }
        }
    }
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .75} 
    to {opacity: 1}
}