#oferta {
    .maska {
        width: 120%;
        height: 62.5px;
        position: absolute;
        left: -15px;
        bottom: 0;
        border-bottom: solid 625px rgba(76,101,128,1);
        border-right: solid 1300px transparent;
        @include md {
            left: -50px;
        }
        @include lg {
            display: none;
        }
    }
}