#poznaj-nas {
    background-image: url("../images/1x/bg-circles.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 60px;

    .title {
    position: absolute;
    z-index: 100;
    padding-top: 60px;
    right: 15px;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    @include xl {
        font-size: 2.4em;
        padding-top: 110px;
    }
}

}
.foto-main {
    margin-top: 50px;
    width: 100%;
    min-height: 500px;
    max-height: 900px;
    background-image: url("../images/1x/foto-main.png");
    background-position: 50% 70px;
    background-size: contain;
    background-repeat: no-repeat;
    @include md {
        margin-top: 0;
        background-size: 50%;
        min-height: 575px;
    }
    @include lg {
        min-height: 750px;
    }
    @include xl {
        position: absolute;
        background-position: 0 100%;
        z-index: 50;
        left: 6%;
        bottom: 0;
        background-size: contain;
        height: 95%;
        width: 42.5%;
    }
}

.nopadding {
    padding: 0;
}

.content
{
    background: rgb(176,88,65);
    background: linear-gradient(135deg, rgba(176,88,65,1) 0%, rgba(168,83,61,1) 30%, rgba(128,60,43,1) 77%, rgba(123,57,41,1) 100%); 
    padding: 15px;
    @include md {
        padding: 50px 0;
    }
    @include xl {
        margin: 250px 0 110px 0;
        padding: 50px 0 25px 0;
    }
    
    h1 {
        padding: 50px 0 25px 0;
        text-transform: uppercase;
        font-size: 1.7em;
        color: $white;
        @include md {
            padding-bottom: 50px;
        }
    }
    p {
        color: $white;
        font-size: 1.6em;
        margin-bottom: 25px;
        @include lg {
            font-size: 1em;
            line-height: 1.5em;
        }
    }
    
}
.mountains {
    .triangle {
        display: inline-block;
        margin: 0;
        vertical-align: bottom;
    }
    .triangle-0 {
        width: 30px;
        height: 30px;
        border-bottom: solid 25px $white;
        border-left: solid 15px transparent;
        border-right: solid 15px transparent;
    }
    .triangle-1 {
        width: 50px;
        height: 50px;
        border-bottom: solid 40px $white;
        border-left: solid 25px transparent;
        border-right: solid 25px transparent;
    }
    .triangle-2 {
        width: 40px;
        height: 40px;
        border-bottom: solid 32px $white;
        border-left: solid 20px transparent;
        border-right: solid 20px transparent;
    }
}
