#wspolpraca {
    background-image: url("../images/1x/bg-circles.jpg");
    background-position: 0% 85%;
    text-align: center;
    .title {
        color: $shadow;
        font-size: 2em;
        text-transform: uppercase;
        padding: 60px 0;
        text-align: right;
        letter-spacing: 4px;
        @include xl {
            font-size: 2.4em;
            padding: 110px 0;
        }
    }
    .content-1 {
        background: rgb(176,88,65);
        background: linear-gradient(135deg, rgba(176,88,65,1) 0%, rgba(168,83,61,1) 30%, rgba(128,60,43,1) 77%, rgba(123,57,41,1) 100%); 
        color: $white;
        padding: 40px 0;
        margin-bottom: 30px;
        @include md {
            padding: 85px 0;
        }
        @include lg {
            min-height: 575px;
            padding: 40px 0;
        }
        @include xl {
            min-height: 400px;
            height: 470px;
        }
    }
    .content-2 {
        padding: 40px 0;
        margin-bottom: 30px;
        @include md {
            padding: 85px 0;
        }
        @include lg {
            background: rgb(176,88,65);
            background: linear-gradient(135deg, rgba(176,88,65,1) 0%, rgba(168,83,61,1) 30%, rgba(128,60,43,1) 77%, rgba(123,57,41,1) 100%); 
            color: $white;
            min-height: 575px;
            padding: 40px 0;
        }
        @include xl {
            background: transparent;
            min-height: 400px;
            height: 470px;
        }
        h2 {
            color: $foliage;
            @include lg {
                color: $white;
            }
            @include xl {
                color: $foliage;
            }
        }
        p {
            color: $shadow;
            @include lg {
                color: $white;
            }
            @include xl {
                color: $shadow;
            }
        }
    }
    .center-image {
        @include xl {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .cropped {
        width: 90%;
        margin: 0 auto;
        @include md {
            width: 70%;
        }
        @include xl {
            margin: 0;
            width: 100%;
            text-align: left;
            padding: 0 10%;
            display: flex;
            justify-content:center;
            align-content:center;
            flex-direction:column; 
        }
    }
    img {
        display: block;
        max-width: 70%;
        margin: 0 auto;
        padding-bottom: 40px;
        @include sm {
            max-width: 90%;
        }
        @include md {
            padding-bottom: 85px;
        }
        @include lg {
            padding-bottom: 60px;
            max-width: 45%;
        }
        @include xl {
            max-width: 350px;
            margin: 0;
            padding: 0;
        }
    }
    h2 {
        font-size: 2em;
        text-transform: uppercase;
        // padding-bottom: 5px;
        @include sm {
            font-size: 2.6em;
        }
        @include md {
            padding-bottom: 5px;
            line-height: 1.2em;
        }
        @include lg {
            font-size: 1.6em;
        }
        @include xl {
            font-size: 2.6em;
        }
    }
    p {
        font-size: 1.6em;
        padding-top: 20px;
        @include md {
            padding-top: 30px;
        }
        @include lg {
            font-size: 1em;
            line-height: 1.5em;
        }
        @include xl {
            font-size: 1.6em;
            line-height: 1.5em;
        }
    }
}